<nav class="navbar">
    <div class="logo"><a href="/">logo is undefined</a></div>
    <div class="nav-links">
        <a href="/messages" class="nav-item">all messages</a>
        <a href="/messages/add" class="nav-item">add message</a>
    </div>
    
</nav>