<nav class="navbar">
    <div class="logo"><a href="/">Members-Messages</a></div>
    <div class="nav-links">
        <a href="/user/messages" class="nav-item">all messages</a>
        <a href="/user/messages/add" class="nav-item">add message</a>
    </div>
    
</nav>