<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <%-include("./partials/navBar")%>
        <div class="profiles">
            <img src="" alt="">
            <div class="username"></div>
            <a href="/edit">edit</a>
            <a href="/log-out">logout</a>
        </div>
    </div>
</body>
</html>