<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>
<body>
    <h1>log-in</h1>
    <form action="/log-in" method="post">
        <div>
            <label for="username">username :</label>
            <input type="text" required name="username">
        </div>
        <div>
            <label for="password">password :</label>
            <input type="password" name="password" >
        </div>
        <button type="submit">log in</button>
    </form>
</body>
</html>