<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
</head>
<body>
    <div class="header">
        <%-include("./partials/navBar")%>
        <%if(!user){%>
            <div class="btns">
                <a href="/sign-up" class="nav-item">sign up</a>
                <a href="/log-in" class="nav-item">log in</a>
            </div>
            Hi,create profile
        </div>
        <%}else{%>
            <div class="profile">
            <img src="" alt="">
            <div class="username"><%=user.username%></div>
            <div class="email"><%=user.email%></div>
            <div class="role"><%=user.role%></div>
            <a href="/edit">edit</a>
            <a href="/log-out">logout</a>
        </div>
        <%}%>
    </div>
    <h1>log-in</h1>
    <form action="/log-in" method="post">
        <div>
            <label for="username">username :</label>
            <input type="text" required name="username">
        </div>
        <div>
            <label for="password">password :</label>
            <input type="password" name="password" >
        </div>
        <button type="submit">log in</button>
    </form>
</body>
</html>